#jumbotron-ex {
    background-image: url('../img/pexels-artem-podrez-7233126.jpg');
    background-position: center;
    background-size: cover;
    padding: 3%;
    color: #d3d3d3;
    border-radius: 20px;

}